
// =============================================================================
// ineo variables
// =============================================================================

$fontsize_base: 10;

$color_text: #222;
$color_back: #000;
$color_white: #fff;
