
/**
 * ineo theme main styles.
 */

// =============================================================================
// ineo variables
// =============================================================================

$color_back: #000;
$color_white: #fff;


/* =============================================================================
   Layout
   ========================================================================== */

#page {}
main {}


/* =============================================================================
   Layout GFX
   ========================================================================== */

html,
body {
  background: $color_white;
}

/* =============================================================================
   ineo global classes
   ========================================================================== */

.ineo-foo {}
.ineo-bar {}

/* =============================================================================
   Header / Navigation
   ========================================================================== */

header[role="banner"] {
  hgroup {}
  #site-name {}
  #site-slogan {}
  nav {}
}

/* =============================================================================
   Footer
   ========================================================================== */

footer[role="contentinfo"] {
  nav {}
}

/* =============================================================================
   CType Page
   ========================================================================== */

.node-type-page {}

/* =============================================================================
   Comments
   ========================================================================== */

#comments {
  .title {}
  .comment {
    header {}
    p {}
    .field-name-comment-body {}
    .username {}
    .permalink {}
    .links {}
  }
}

/* =============================================================================
   Search results page
   ========================================================================== */

.page-search {
  #search-form {}
}

/* =============================================================================
   Maintenace page
   ========================================================================== */

.maintenance-page {}

/* =============================================================================
   Misc.
   ========================================================================== */

