
//
// SASS mixins.
//

//
// Rem font-size
//
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//
// border-radius
//
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

//
// rotate
//
@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
     -moz-transform: rotate($angle);
      -ms-transform: rotate($angle);
       -o-transform: rotate($angle);
          transform: rotate($angle);
}

//
// half-leading + margin helpers
// @TODO: needs work...
//
@mixin leading( $font-size, $line-height ) {
  $px-font-size: $font-size * 10;
  $computed-line-height: $px-font-size * $line-height;
  $leading: $computed-line-height - $px-font-size;
  $half-leading: $leading / 2;
  /*
          px-font-size: #{$px-font-size}px
  computed-line-height: #{$computed-line-height}px
               leading: #{$leading}px
          half-leading: #{$half-leading}px
  */
}

@function set-margin( $font-size, $line-height, $margin ) {
  $px-font-size: $font-size * 10;
  $computed-line-height: $px-font-size * $line-height;
  $leading: $computed-line-height - $px-font-size;
  $half-leading: $leading / 2;

  @return round($margin - $half-leading);
}


